
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*////////////////////////*/

/* ------------------------------- Global Styles -------------------------------- */
:root {
    margin: 0;
    padding: 0;
    --primary-color: #4845E4;
    --body-fonts: 'Roboto', sans-serif;
    --line-height: 1.5;
}

/* ------------------------------- Typography ----------------------------------- */

body {
   font-family: 'Roboto', sans-serif;
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', sans-serif;
  }

/* --------------- 1.1 Header ------------------------- */

.outer-container {
    display: flex;
    padding: 50px;
    justify-content: center;
}

#header{
    background-color: #4845E4;
    color: white;
}
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.navlist {
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    list-style: none;
}

/* --------------- 1.2 Introduction ------------------- */


.section-one-introduction {

    display: flex;
    background-color: white;
    padding: 50px;
    color: #4845E4;
    justify-content: center;

   }
.action-one-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    max-width: 850px;
}

.contactus {
    margin-top: 100px;
}

/* --------------- 1.2 Main ------------------------- */
.project-one-outer-container {

    display: flex;
    justify-content: center;
    justify-content: flex-start;
}

#project-one {
    background-color: #F3F6F9;
    color: #000000;
    margin: auto 480px
}
.project-one-inner-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-project-one {
    display: flex;
    background-color: #F3F6F9;
    justify-content: space-between;
    align-items: center;

   }
.action-project-one-text {

    display: flex;
    flex-direction: column;
    flex-basis: 480px;
     }

.section-project-one-image {
    flex-basis: 750px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 10px;
    }

.project-two-outer-container {

    display: flex;
    justify-content: center;
    justify-content: flex-start;
}

#project-two {
    background-color: #F3F6F9;
    color: #000000;
    margin: auto 480px
}
.project-two-inner-container {

    display: flex;
    flex-direction: column;
    justify-content: right;
    alignment: left;
}

.section-project-two {
    display: flex;
    background-color: #F3F6F9;
    justify-content: space-between;
    align-items: center;

}
.action-project-two-text{

    display: flex;
    flex-direction: row;
    flex-basis: 480px;
    justify-content: flex-end;

}

.action-project-two-image {
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: flex-start;
 }


.project-three-outer-container {

    display: flex;
    justify-content: center;
    justify-content: flex-start;
}

#project-two {
    background-color: #F3F6F9;
    color: #000000;
    margin: auto 480px
}
.project-three-inner-container {

    display: flex;
    flex-direction: column;
    justify-content: right;
    alignment: left;
}

.section-project-three {
    display: flex;
    background-color: #F3F6F9;
    justify-content: space-between;
    align-items: center;

}
.action-project-three-text{

    display: flex;
    flex-direction: row;
    flex-basis: 480px;
    justify-content: flex-end;

}

.action-project-thr-image {
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: flex-start;
}












.button {
    box-shadow: 1px 1px 1px rebeccapurple;
    background: #ED4385;
    width: 15%;
    text-transform: uppercase;
    font-size: 10px;
    box-shadow: 0 0 15px -15px #000;
    margin-top: 20px;
}

/*button{*/

/*    display: flex;*/
/*    background-color: #ED4385;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*}*/


/* {*/

/*    background-color: #ED4385;*/
/*    align-self: center;*/
/*    position: center;*/
/*    margin: 80px;*/
/*    flex-basis: 300px;*/
/*}*/
/*!* ------------------------------- 5. Media Queries -------------------------------- *!*/

@media screen and (min-width: 768px) {
    .button {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    .button {
        font-size: 16px;
    }
}
