
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*////////////////////////*/

/* ------------------------------- Global Styles -------------------------------- */
:root {
    margin: 0;
    padding: 0;
    --primary-color: #4845E4;
    --body-fonts: 'Roboto', sans-serif;
    --line-height: 1.5;
}

/* ------------------------------- Typography ----------------------------------- */

body {
   font-family: 'Roboto', sans-serif;
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', sans-serif;
  }

/* --------------- 1.1 Header ------------------------- */

.outer-container {
    display: flex;
    padding: 50px;
    justify-content: center;
}

#header{
    background-color: #4845E4;
    color: white;
}
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.navlist {
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    list-style: none;
}

/* --------------- 1.2 Introduction ------------------- */


.section-one-introduction {

    display: flex;
    background-color: white;
    padding: 50px;
    color: #4845E4;
    justify-content: center;

   }
.action-one-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    max-width: 850px;
}

.contactus {
    margin-top: 100px;
}

/*!* --------------- 1.2 Main ------------------------- *!*/


.project-one-outer-container {
    display: flex;
    margin: 0px;
}

#project-one {
    background-color: #F3F6F9;
    justify-content: flex-end;
    padding:50px;
    color: #0C0C0C;

}
.project-one-inner-container {
    display: flex;
    justify-content:space-between;
}

.project-one-text {
    display: flex;
    flex-flow: column;
    padding:300px

}

.project-one-image {
    width: 100%;
}

.project-one-image {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-flow: column;
    flex-direction: column;
}


.project-two-outer-container {
    display: flex;
    margin: 0px;
}

#project-two {
    background-color: #F3F6F9;
    justify-content: flex-end;
    padding:50px;
    color: #0C0C0C;

}
.project-two-inner-container {
    display: flex;
    justify-content:space-between;
}

.project-two-text {
    display: flex;
    flex-flow: column;
    padding:300px
}

.project-two-image {
    width: 100%;
}

.project-two-image {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-flow: column;
    flex-direction: row-reverse;
}

.project-three-outer-container {
    display: flex;
    margin: 0px;
}

#project-three {
    background-color: #F3F6F9;
    justify-content: flex-end;
    padding:50px;
    color: #0C0C0C;

}
.project-three-inner-container {
    display: flex;
    justify-content:space-between;
}

.project-three-text {
    display: flex;
    flex-flow: column;
    padding:300px
}

.project-three-image {
    width: 100%;
}

.project-three-image {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-flow: column;
    flex-direction: row-reverse;
}

.service-container {
    display: flex;
    gap: 30px;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;

}
.service-text {
    display: flex;
    flex-direction: column;
    flex-basis: 550px;
    color: #7A7A7A;
    border: 3px solid purple;
    justify-content: center;

}
.service-text > h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: purple;
    flex-basis: 550px;

}
.service-txt > p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-basis: 550px;
}

.button {
    box-shadow: 1px 1px 1px rebeccapurple;
    background: #ED4385;
    width: 15%;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 20px;

}

/*!* ------------------------------- 5. Media Queries -------------------------------- *!*/

@media screen and (min-width: 768px) {
    .button {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    .button {
        font-size: 16px;
    }
}
